<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Products</title>
    <meta name="description" content="Free bootstrap template Atlas">
    <link rel="icon" href="#" sizes="32x32" type="image/png">

    <!-- bootstrap.min.css  -->
    <link rel="stylesheet" href="./static/css/bootstrap.min.css">
	<!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    
</body>
    <!-- <link rel="stylesheet" href="./static/css/aos.css"> -->
</head>

<body>
    <!-- banner -->
    <header class="header_area">
        <!-- logo -->
        <a id="test" href=""><img src="./static/workimg/logo.jpg" alt="" style="width:50px; height:50px; padding-top:5px;"></a>

         <!-- Collect the nav links, forms, and other content for tosggling -->
            <div class="navbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <input id="toggle-search" type="search" placeholder="Find any product" pattern="[A-Za-z]+{1-20}"></input><a action="submit" id="link-icon"><i id="search" class="fa-solid fa-magnifying-glass" style=""></i></a>
                        <!-- <a class="nav-link" href="index.html" style="text-decoration: none;">SHOP </a> -->
                        <a id="link-icon" href="#"><i id="shopping_cart" class="fa-solid fa-cart-shopping" style=""></i></a>

                    </li> 
                    <li class="nav-item">
                        <a class="nav-link" href="index.html" style="text-decoration: none;">HOME</a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html" style="text-decoration: none;">ABOUT US</a></li>
                    <li class="nav-item">
                        <a class="nav-link "href="index.html" style="text-decoration: none;">CONTACT</a>
                             <!-- Icon tags are optional -->
                    </li>               
                </ul>

                
                <div class=toggle_btn>
                </div>

               
        </div>
    </header>

<div class="container">
    <h1 class="display-3 text-black font-weight-bold my-5" id="slide-text1">MY WORKS</h1>
</div>



<form class="container">
    <div class="slider">
        <input class="radio" type="radio" id="radio1" name="radios">
        <input class="radio" type="radio" id="radio2" name="radios">
    </div>
 
    <div class="slides">
        <img  alt="radio1" src="./static/workimg/banner/img-combine.jpg" id="s1" >
        <img  alt="radio2" src="./static/workimg/banner/img-combine3.jpg" id="s2">
    </div>

    <div class="nav-slide">
        <label class="label" for="radio1" id="input1"></label>
        <label class="label" for="radio2" id="input2"></label>
    </div>

</form>

<!--    <img src="./static/workimg/banner/banner-img3.jpg" id="#">
        <img src="./static/workimg/banner/banner-img1.jpg" id="#">
        <img src="./static/workimg/banner/banner-img1.jpg" id="#">
        <img src="./static/workimg/banner/banner-img1.jpg" id="#"> 
 -->
    <!-- three-block -->
    <div class="container my-5 py-2">
        <h2 class="text-center font-weight-bold my-5" style="margin:15px 0;">My Products</h2>


    <select name="googledich" id="dich">
                    <option value ="">Amazon</option>
                    <option value ="">Shopee</option>
                    <option value ="">Tiktok Shop</option>
    </select>


<section class="row">
    <div class="XhCeW7">
            <div class="kmYTt8" >
                <div class="ssqXYK OyNMA5">
                        <span><a href="https://shopee.vn/M%C3%AC-chay-Kiwi-T%C3%A2n-T%C3%A2y-Lan-(6-t%C3%B4-1-th%C3%B9ng)-New-Zealand-Kiwi-Noodle-Bowls-(6-Bowls-per-box)-i.397540419.9326687103?sp_atk=af45c22f-14a6-4dab-835d-1ba793e58749&xptdk=af45c22f-14a6-4dab-835d-1ba793e58749"><img class="pct_imgs" src="./static/workimg/kiwi.jpg" >
                        </a></span>
                </div>                
                <div class="LyQ6yZ_03TyL4">
                    <span class="_8IM+-o vdmlF5" >Kiwi Ramen Noodle<br>(Packs of 6)</br></span>
                </div>
                
            </div>

            <div class="kmYTt8" >
                <div class="ssqXYK OyNMA5">
                        <span><a href="https://shopee.vn/M%C3%AC-tr%C3%A0-m%C3%A3ng-c%E1%BA%A7u-%C4%83n-chay-%C4%83n-ki%C3%AAng-(6-t%C3%B4-th%C3%B9ng)-SOURSOP-TEA-Noodles-(Packs-of-6)-i.397540419.6691496640?sp_atk=fd93eae3-ecc6-483c-bfb8-4ca4876b914b&xptdk=fd93eae3-ecc6-483c-bfb8-4ca4876b914b"><img class="pct_imgs" src="./static/workimg/tramangcau.png">
                        </a></span>
                </div>                
                <div class="LyQ6yZ_03TyL4">
                    <span class="_8IM+-o vdmlF5" >Soursop Tea Noodles<br>(Packs of 6)</br>
                    </span>
                </div>
                
            </div>

            <div class="kmYTt8">
                <div class="ssqXYK OyNMA5">
                    <span><a href="https://shopee.vn/M%C3%AC-chay-l%C3%A1-b%E1%BB%93-%C4%91%E1%BB%81-t%C3%B4-Nhi%E1%BB%81u-rau-c%E1%BB%A7-(6-t%C3%B4-th%C3%B9ng)-Vegetable-Instant-Noodle-Bowl-(Pack-of-6)-i.397540419.3281920266?sp_atk=b3146be9-efe4-4520-b7a0-1c9a58c0e7b6&xptdk=b3146be9-efe4-4520-b7a0-1c9a58c0e7b6">
                            <img src="./static/workimg/michaylabode.png">
                        </a>
                    </span>
                </div>    
                <div class="LyQ6yZ_03TyL4">
                    <span class="_8IM+-o vdmlF5" >Vegetable Instant Noodle Bowl<br>(Pack of 6)</br></span>
                </div>   
            </div>


            <div class="kmYTt8">
                <div class="ssqXYK OyNMA5">
                    <span><a href="https://shopee.vn/M%C3%AC-cay-Gourmet-Ramen-%C4%83n-li%E1%BB%81n-(t%C3%B4-h%E1%BB%99p)-Gourmet-spicy-Instant-Ramen-(Export-Product)-i.397540419.12940094999?sp_atk=70f1aaf5-2db1-4e32-8115-fc5ac7735aed&xptdk=70f1aaf5-2db1-4e32-8115-fc5ac7735aed">
                            <img src="./static/workimg/micay.png">
                        </a>
                    </span>
                </div>    
                <div class="LyQ6yZ_03TyL4">
                    <span class="_8IM+-o vdmlF5" >Gourmet spicy Instant Ramen<br>(Pack of 6)</br></span>
                </div>   
            </div>
        </div>

    <div class="XhCeW7">
            <div class="kmYTt8" >
                <div class="ssqXYK OyNMA5">
                        <span>
                            <a href="https://shopee.vn/Ph%E1%BB%9F-Tomyum-ph%E1%BB%9F-B%C3%B2-t%C3%B4-%C4%83n-li%E1%BB%81n-(9-t%C3%B4-th%C3%B9ng)-Tomyum-Pho-Beef-Pho-(9-bowl-per-box)-i.397540419.11566672367?sp_atk=c66dc73c-2f9e-4f3a-86e6-a5fa63584811&xptdk=c66dc73c-2f9e-4f3a-86e6-a5fa63584811">
                                <img class="pct_imgs" src="./static/workimg/phobo.png"  >
                            </a>
                        </span>
                </div>                
                <div class="LyQ6yZ_03TyL4">
                    <span class="_8IM+-o vdmlF5" >Pho Bo<br>(Pack of 9)</br></span>
                </div>
                
            </div>

            <div class="kmYTt8" >
                <div class="ssqXYK OyNMA5">
                        <span>
                            <a href="https://shopee.vn/Ph%E1%BB%9F-chay-L%C3%A1-B%E1%BB%93-%C4%90%E1%BB%81-t%C3%B4-(6-t%C3%B4-th%C3%B9ng)-Vegetarian-Pho-Bowl-i.397540419.8824690511?xptdk=15ad660a-b303-41fc-95e6-b5aafbe55229">
                                <img class="pct_imgs" src="./static/workimg/phochay.png"  >
                            </a>
                        </span>
                </div>                
                <div class="LyQ6yZ_03TyL4">
                    <span class="_8IM+-o vdmlF5" >Pho Chay<br>(Pack of 6)</br></span>
                </div>
                
            </div>

            <div class="kmYTt8" >
                <div class="ssqXYK OyNMA5">
                        <span>
                            <a href="https://shopee.vn/Ph%E1%BB%9F-B%C3%B2-Ph%E1%BB%9F-Tomyum-t%C3%B4-%C4%83n-li%E1%BB%81n-(9-t%C3%B4-th%C3%B9ng)-Tomyum-Pho-Beef-Pho-(9-bowl-per-box)-i.397540419.11566672367?sp_atk=72c7d0ca-6099-4da4-bfba-4e53887f567e&xptdk=72c7d0ca-6099-4da4-bfba-4e53887f567e">
                                <img class="pct_imgs" src="./static/workimg/photomyum.png"  >
                            </a>
                        </span>
                </div>                
                <div class="LyQ6yZ_03TyL4">
                    <span class="_8IM+-o vdmlF5" >Pho Tomyum<br>(Pack of 9)</br></span>
                </div>
                
            </div>

            <div class="kmYTt8" >
                <div class="ssqXYK OyNMA5">
                        <span><a href="https://shopee.vn/B%C3%BAn-B%C3%B2-Hu%E1%BA%BF-T%C3%B4-%C4%82n-li%E1%BB%81n-V%E1%BB%8B-Truy%E1%BB%81n-Th%E1%BB%91ng-(9-t%C3%B4-th%C3%B9ng)-Spicy-Hue-Special-Noodle-Soup-(9-bowls-per-box)-Export-only-i.397540419.10779811437?sp_atk=df6969db-b149-430c-a4ce-b2a703db4144&xptdk=df6969db-b149-430c-a4ce-b2a703db4144" ><img src="./static/workimg/bunbohue.png" ></a>
                        </span>
                </div>                
                <div class="LyQ6yZ_03TyL4">
                    <span class="_8IM+-o vdmlF5" >Bun Bo Hue <br>(Pack of 9)<br></span>
                </div>
                
            </div>   

            <div class="kmYTt8">
                <div class="ssqXYK OyNMA5">
                    <span><a href="https://shopee.vn/H%E1%BB%A7-ti%E1%BA%BFu-B%C3%B2-Kho-%C4%82n-Li%E1%BB%81n-%C4%90%E1%BA%B7c-S%E1%BA%A3n-Vi%E1%BB%87t-Nam-(9-t%C3%B4-th%C3%B9ng)-Vietnamese-beef-stew-rice-noodles-(9-bowls-per-box)-i.397540419.10766951006?xptdk=7fb5d677-5136-41a7-9d73-f1f58ddc84dc">
                            <img src="./static/workimg/bokho.png" ">
                        </a>
                    </span>
                </div>          

                <div class="LyQ6yZ_03TyL4">
                    <span class="_8IM+-o vdmlF5" >Beef Stew Rice Noodle<br>(Pack of 9)</br></span>
                </div>   
            </div>

    </div>

</div>


    <div class="imgage">
        <a href="#" id="banner-link">
            <img scr="" id="banner-img">
        </a>
    </div>
    



</section>

    <block>

    </block>


    <!-- feature (skew background) -->
    <div class="jumbotron jumbotron-fluid feature" id="feature-first">
        <div class="container my-5">
            <div class="row justify-content-between text-center text-md-left">
                <div data-aos="fade-right" data-aos-duration="1000" data-aos-once="true" class="col-md-6">
                    <h2 class="font-weight-bold">Take a look inside</h2>
                    <p class="my-4">Te iisque labitur eos, nec sale argumentum scribentur no,
                        <br> augue disputando in vim. Erat fugit sit at, ius lorem deserunt deterruisset no.</p>
                    <a href="#" class="btn my-4 font-weight-bold atlas-cta cta-blue">Learn More</a>
                </div>
                <div data-aos="fade-left" data-aos-duration="1000" data-aos-once="true" class="col-md-6 align-self-center">
                    <img src="./static/workimg/feature-1.png" alt="Take a look inside" class="mx-auto d-block">
                </div>
            </div>
        </div>
    </div>
    <!-- feature (green background) -->
    <div class="jumbotron jumbotron-fluid feature" id="feature-last">
        <div class="container">
            <div class="row justify-content-between text-center text-md-left">
                <div data-aos="fade-left" data-aos-duration="1000" data-aos-once="true" class="col-md-6 flex-md-last">
                    <h2 class="font-weight-bold">Safe and reliable</h2>
                    <p class="my-4">
                        Duo suas detracto maiestatis ad, commodo lucilius invenire nec ad,
                        <br> eum et oratio disputationi. Falli lobortis his ad
                    </p>
                    <a href="#" class="btn my-4 font-weight-bold atlas-cta cta-blue">Learn More</a>
                </div>
                <div data-aos="fade-right" data-aos-duration="1000" data-aos-once="true" class="col-md-6 align-self-center flex-md-first">
                    <img src="./static/workimg/feature-2.png" alt="Safe and reliable" class="mx-auto d-block">
                </div>
            </div>
        </div>
    </div>

    <!-- price table -->
    <div class="container my-5 py-2" id="price-table">
        <h2 class="text-center font-weight-bold d-block mb-3">Check our pricing</h2>
        <div class="row">
            <div data-aos="fade-right" data-aos-delay="200" data-aos-duration="1000" data-aos-once="true" class="col-md-4 text-center py-4 mt-5">
                <h4 class="my-4">STARTUP</h4>
                <p class="font-weight-bold">$ <span class="display-2 font-weight-bold">0</span> / MO.</p>

                <a href="#" class="btn my-4 font-weight-bold atlas-cta cta-ghost">Get Free</a>
            </div>
            <div data-aos="fade-up" data-aos-duration="1000" data-aos-once="true" class="col-md-4 text-center py-4 mt-5 rounded" id="price-table__premium">
                <h4 class="my-4">PREMIUM</h4>
                <p class="font-weight-bold">$ <span class="display-2 font-weight-bold">10</span> / MO.</p>
 
                <a href="#" class="btn my-4 font-weight-bold atlas-cta cta-green">Get Free</a>
            </div>
            <div data-aos="fade-left" data-aos-delay="200" data-aos-duration="1000" data-aos-once="true" class="col-md-4 text-center py-4 mt-5">
                <h4 class="my-4">PROFESSIONAL</h4>
                <p class="font-weight-bold">$ <span class="display-2 font-weight-bold">30</span> / MO.</p>
                <a href="#" class="btn my-4 font-weight-bold atlas-cta cta-ghost">Get Free</a>
            </div>
        </div>
    </div>
    <!-- client -->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-md-2 py-2 align-self-center">
                    <img src="./static/workimg/client-1.png" class="mx-auto d-block">
                </div>
                <div class="col-sm-4 col-md-2 py-2 align-self-center">
                    <img src="./static/workimg/client-2.png" class="mx-auto d-block">
                </div>
                <div class="col-sm-4 col-md-2 py-2 align-self-center">
                    <img src="./static/workimg/client-3.png" class="mx-auto d-block">
                </div>
                <div class="col-sm-4 col-md-2 py-2 align-self-center">
                    <img src="./static/workimg/client-4.png" class="mx-auto d-block">
                </div>
                <div class="col-sm-4 col-md-2 py-2 align-self-center">
                    <img src="./static/workimg/client-5.png" class="mx-auto d-block">
                </div>
                <div class="col-sm-4 col-md-2 py-2 align-self-center">
                    <img src="./static/workimg/client-6.png" class="mx-auto d-block">
                </div>
            </div>
        </div>
    </div>
    <!-- contact -->
    <div class="" id="contact" style="background-image: url(./static/workimg/bgimage.);">
        <div class="container my-5">
            <div class="row justify-content-between">
                <div class="col-md-6 text-black">
                    <h2 class="contact-h2">Contact Us</h2>
                    <p class="text-contact">
                        Te iisque labitur eos, nec sale argumentum scribentur,
                        <br> augue disputando in vim. Erat fugit sit at, ius lorem.
                    </p>
                    <ul class="list-unstyled">
                        <li>Email : company_email@com</li>
                        <li>Phone : 361-688-5824</li>
                        <li>Address : 4826 White Avenue, Corpus Christi, Texas</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <form>
                    	<div class="row">
	                        <div class="form-group col-md-6">
	                            <label for="name">Your Name</label>
	                            <input type="name" class="form-control" id="name">
	                        </div>
	                        <div class="form-group col-md-6">
	                            <label for="Email">Your Email</label>
	                            <input type="email" class="form-control" id="Email">
	                        </div>
	                    </div>
	                    <div class="form-group">
	                        <label for="message">Message</label>
	                        <textarea class="form-control" id="message" rows="3"></textarea>
	                    </div>
                        <button type="submit" class="btn font-weight-bold atlas-cta atlas-cta-wide cta-green my-3">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

<footer>    
        <div id="social_media">                
            <li class="item">
                <a class="link" href="https://www.facebook.com/profile.php?id=100009228369576" name="facebook"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAOpJREFUSEvt1TFOAkEUh/EfnY2cgNJYWVlQEiiUC3gDLY1UXsATQKjhDrZggq2JlVaGhIqEC5hQQjSDblYhhJklFm41yWa/b97778wrKfgpFcy3d8EI9ciqHtFYMfIVLCLhP7gxgo/NTDAN1FMchvUXd1fBCy4wzlT8hGoKwTuOMcu1M5lgiPMAr+EudYv6uAzQNlq//BhRGWQFXVynEtziOfT+LUCPUAnre5RjQm5isOacHGCeebdTizYJTvAaK1h9X1gG/4LPDmxzm/7tDLYZOD1chcQ7uMmdjQecrRs4iebNN2bvMzl5BUtsbjkZn+taawAAAABJRU5ErkJggg=="/></a>
            </li>

            <li class="item">
                <a class="link "href="https://www.instagram.com/_tt.sang_/" name="instagram"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAhZJREFUSEvF1UvIT1sYBvDfhyLCRGfkVigkOSeShAFSSnLJ3cQEZ6DIpchAiVxCRgYMJLdco5SYSUkk5XY60emUCSMycu/R+tdu9999X+rrW/Xvv/e73vU+z/s8a63doZtHRzfX12MAo7AFMzCBRiI/8Az3cAz/1hVp18EGHEcf/I8HeNUg5V+YhGH4gr9xsppbB5hcCr7AIrzuokfp8gaGYwqetNbVAa5iPsbivy4UX4s9+IB1eITrWNIEkKJhH5Dq6IW5GI9veIm7JXa7SDmiAAzByCaAjziLjZXq0fciptVAY+wpvMMfOI0oMA8DmgC+4zC2l4Qwv18YbcUd9C7MD5ZdMxPZTRkhsrTk/ArUPUjifuwsC5aVRfm/VOtgOS5gYTE40+eReIg1AoTZjjKf520YiE81gGj9Hnuxu8xF3lVV4u06yIHZXBYcKHINRvypjhbAPuwqE2ewpjOAo+UUZ0222+Wi65UaQJiGcVWivK/ozINqBy2TswUjVUzOCZ+DQ/gHs2omB7BfkwfROSzWV9gOLWZOb7NNV+JtJZ5tOhuRtK3Juazya3fQwmwBPuMWblaYt+o9xiCMaQII+8UY18WrotrURDzFOaxuAvgTYZHEGPymJkvTa4pfQ7yaWmq0lSjB1nUdgx8WSRL/iufoi9HF7MT7I7dw5jfhRJVF0xftdz44R9pd7z32yeyi9J2ndXsHPwHCfnMZO3GOhQAAAABJRU5ErkJggg=="/></a>

            <li class="item">
                <a class="nav-link" href="index.html" name="twitter"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAYpJREFUSEvd1bFLVmEUx/HPa0GC0VRDoJhBRFAR4aSjERSBKSFF0JCDSHtRFP4BujgoLRGBS4uDIDS4iLiEgVFDk1EQBeEkQZqgHLgvXG73Xu/7wrv4bPc5z/l9n3Oec86tafGqtVjf4QN04M8BaTuBCdxCD/5hBs9wGoPJ917opFN0BJ8xgk8lkCUM5Ni/owv38LZuTwPO4Ct+YwirOSJX8aEEvoZlzGE9G0E7tnA0EXiFF/iZEryfOBcxIr2P8CYvgtiLW/dlvFewgPe4gumSCF7jYdqeTtFxnMc7nGyyPybxuAjQiW/YxKkmAZGe2SJAGzbQ3aR4uF3AlyJA7A8nJVZ/6EZYUYFnsw55oyL64DkuNaKOcbysAriJxQbFo8nOYacKIM5EHT+oCNlFf1LG/7kUTdN48It4irsloJg3o4j6z115gBh4vXiCGyXifxGdPV8WaRpwDVO4nBmCef7RjGOI3JeubAQxiu/gNq7jGLbxCz8QkzRu/PEg4br98P3RqkZe+VzLU7QP6ls9Gf+7N38AAAAASUVORK5CYII="/></a></li>

            <li class="item">
                <a class="link "href="index.html" name="linkedin"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAShJREFUSEvt1U0rRkEYxvHfQykrsrFSXoqFKFl5KQsfQ76AslA2VvZKSfkG8jFkIUXWkuRtZaVsWCg0NUfTOFHPeLJg6tQ953Rf/3uue2ZOQ4tHo8X66gCDeMXNT8BzwDaWo/AmVkshKWAE55lgP25LIN8BBkqtyi3awVKseAsrJdWH3LomD8cmX5aK1wGm0RGFn3Ec4wl0xfgJJ+jBLMbQjj18KipfwT16o9AVhmJ8iJkYX2A9Cqb5YWuvYSNdeTOAB3TGp87FeexXH5oBVLkBdIdxtCWkYNVCKWAXi1FkDgcJ4AyjpYBwKEMvqhFW0hcnj+guBYSd9pIATjGZzD+s/6oH1wgXXxjpLgrz4PlbIniEqX9AddD+uEV1R7/o3a/89IsqzpPfAXF0UxkpbL/qAAAAAElFTkSuQmCC"/></a></li>
        </div>

</footer>   

<!--Javascipts-->
<script src="./static/js/bootstrap.min.js"></script>
    
    <!-- AOS -->


</html>